:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --graphic-design-text: hsl(167, 40%, 24%);
  --photography-text: hsl(198, 62%, 26%);
  --footer: hsl(168, 34%, 41%);

  --desaturated-blue: hsl(212, 27%, 19%);
  --grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-light--blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  --font-size: 18px;
}

body {
  font-size: var(--font-size);
  font-family: "Barlow", sans-serif;
  background-color: #fffbf8;
}

a:not(.underline) {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: none;
  max-height: none;
}

li {
  list-style: none;
}

header {
  background-image: url(./images/desktop/image-header.jpg);
  background-size: cover;
  color: var(--white);
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 40px 0 40px;
}

.header-top nav ul {
  /* list-style: none; */
  display: flex;
  align-items: center;
  font-size: 20px;
  padding-left: 0;
  font-weight: 500;
  padding-right: 20px;
}

.header-top nav ul li:not(:last-child) {
  margin-right: 50px;
}

.header-top nav ul li a {
  color: var(--white);
  text-decoration: none;
}

.header-top nav ul li a:hover {
  font-family: "Fraunces", serif;
  color: black;
  font-weight: 600;
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 15px;
}

.main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.main-title h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  letter-spacing: 6px;
  font-size: 70px;
}

.arrow-img {
  /* margin-top: 60px; */
  /* animation-name: jump;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-direction: normal; */
  height: 7.5rem;
  width: auto;
  animation: jump 1s ease-in infinite alternate;
}

@keyframes jump {
  to {
    transform: translateY(2.5rem);
  }
}

.row {
  display: flex;
  height: 619.72px;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column img {
  width: 100%;
}

.text-area {
  width: 57%;
}

.bottom-text-area {
  width: 50%;
}

.text-area-header,
.text-area a,
.bottom-text-header {
  font-family: "Fraunces", serif;
}

.text-area-header {
  font-weight: 900;
  font-size: 47px;
  line-height: 1.2;
  margin-bottom: 25px;
}

.column-desc {
  color: var(--grayish-blue);
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 35px;
}

.text-area a {
  text-transform: uppercase;
  color: var(--desaturated-blue);
  font-weight: 900;
}

.underline-yellow {
  text-decoration-color: var(--yellow);
  text-decoration-thickness: 5px;
}

.underline-red {
  text-decoration-color: var(--soft-red);
  text-decoration-thickness: 5px;
}

.column5 {
  background-image: url(./images/desktop/image-graphic-design.jpg);
  background-size: cover;
  color: var(--graphic-design-text);
}

.column6 {
  background-image: url(./images/desktop/image-photography.jpg);
  background-size: cover;
  color: var(--photography-text);
}

.column5,
.column6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.bottom-text-area {
  margin-bottom: 70px;
}

.bottom-text-header {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
}

.bottom-text-desc {
  font-weight: 600;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

article h2 {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  color: var(--grayish-light--blue);
  font-size: 20px;
  letter-spacing: 5px;
  margin-bottom: 70px;
}

.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 80%;
  text-align: center;
}
.testimonial {
  display: flex;
}

.client {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.client img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 70px;
}

.client > p {
  color: var(--dark-grayish-blue);
  font-weight: 600;
  margin-bottom: 70px;
  width: 95%;
}

.name {
  font-family: "Fraunces", serif;
  color: var(--desaturated-blue);
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 8px;
}

.occupation {
  color: var(--grayish-light--blue);
  font-weight: 600;
}

.image-gallery {
  display: flex;
}

.image-gallery div {
  flex: 0.25;
}

.image-gallery img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

footer {
  background-color: #90d4c5;
  color: var(--footer);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 40vh; */
  padding: 70px 0 50px 0;
}

.footer-logo svg {
  fill: #ffa500;
}

.footer-nav > ul {
  text-align: center;
  display: flex;
  font-weight: 600;
  margin: 30px 0 50px 0;
  padding-left: 0;
}

.footer-nav > ul a {
  color: var(--footer);
}

.footer-nav > ul > li:not(:last-child) {
  padding-right: 50px;
}

.social-media > ul {
  display: flex;
  padding-left: 0;
  /* margin-bottom: 30px; */
}

ion-icon {
  font-size: 25px;
  color: var(--footer);
}

ion-icon:hover,
.footer-nav > ul > li > a:hover {
  color: white;
}

.social-media > ul li:not(:last-child) {
  padding-right: 25px;
}
