:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --graphic-design-text: hsl(167, 40%, 24%);
  --photography-text: hsl(198, 62%, 26%);
  --footer: hsl(168, 34%, 41%);

  --desaturated-blue: hsl(212, 27%, 19%);
  --grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  --font-size: 18px;
}

body {
  font-size: var(--font-size);
  font-family: "Barlow", sans-serif;
  background-color: #fffbf8;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: none;
  max-height: none;
}

header {
  background-image: url(./images/desktop/image-header.jpg);
  background-size: cover;
  color: var(--white);
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
}

.header-top nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.header-top nav ul li:not(:last-child) {
  margin-right: 20px;
  font-weight: 500;
}

.header-top nav ul li a {
  color: var(--white);
}

.main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.main-title h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  letter-spacing: 6px;
  font-size: 70px;
}

.arrow-img {
  margin-top: 60px;
}

.column5 {
  background-image: url(./images/desktop/image-graphic-design.jpg);
  background-size: cover;
}

.column6 {
  background-image: url(./images/desktop/image-photography.jpg);
  background-size: cover;
}

.row {
  display: flex;
  height: 619.72px;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column img {
  width: 100%;
}

.text-area {
  width: 70%;
}

.bottom-text-area {
  width: 50%;
}

/* .column {
  display: flex;
  flex-direction: column;
} */

/* .column img {
  flex-grow: 1;
  max-width: none;
  max-height: none;
  object-fit: cover;
  display: inline;
} */
